*{
    margin: 0;
    padding: 0;
  }
body {
    font-size: 14px;
    height: 100%;
    width: 100%;
  }
h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: bold;
   }
a {
    text-decoration: none;
}
.container {
    box-sizing: border-box;
    max-width: 80%;
    width: 100%;
    /* padding: 0 15px; */
    margin: 0 auto;
  }
  .container::after  {
    clear: both;
    display: block;
    content: '';
  }
  .footer-page {
    color: #fff;
  }
