/* Header */
/* Header top left */
.header-top {
  padding-bottom: 10px;
}
.header-introduction {
  margin-top: .75em;
  line-height: 16px;
  float: left;
}
.logo-link {
  float: left;
}
.header-intro-content {
  display: inline-block;
  padding-top: 20px;
  padding-left: 16px;
}
.header-title {
  color: #0C0B0B;
  font-size: 1rem;
  padding-bottom: 10px;
}
.header-description {
  text-transform: capitalize;
  font-size: 18px;
}
/* Header top right */
.header-contact {
  clear: right;
  float: right;
  padding-top: 32px;
  font-weight: bold;
}
.header-contact-image {
  float: left;
  
}
.header-contact-question {
  display: inline-block;
  padding: 14px 8px;
  font-style: italic;
}
.header-contact-phone {
  display: inline-block;
  font-size: 18px;
}
 .header-contact-link {
    color: #4cc1fc;
}
/* Menu */
.header-bottom {
  border-top: 1px solid #e9e9e9;
}
.menu-item {
  padding:  1rem;
  line-height: 2rem;
  float: left;
  text-transform: uppercase;
  border-left: 1px solid #e9e9e9;
  font-family: 'Arial';
  font-size: .75rem;
}
.menu-link {
  color: #8e8e8e;
}
.active {
  color: #4cc1fc;
}
.menu-item:first-child {
  border-left: none;
}
.header-social-list {
  float: right;
  line-height: 3rem;
  padding-top: 16px;
}
.header-social-item {
  float: left;
  padding-left: 15px;
}
/* Banner */
.banner {
  height: 156px;
  background-repeat: no-repeat;
  background: url('../images/banner.png');
}
.breadcrum-list {
  padding-top: 75px;
  text-transform: uppercase;
  font-family: 'Arial';
}
.breadcrumb-item {
  float: left;
  color: #000;
  padding-right: .75rem;
}
.breadcrumb-item::after {
  content: '/';
  padding-left: .75rem;
}
.breadcrumb-item:last-child:after {
  content: '';
}
.breadcrumb-link {
  color: #000;
}
/* Main page */
.main-page {
  padding-top: 40px;
  box-sizing: border-box;
}
/* Aside bar */
.sidebar-left {
  box-sizing: border-box;
  float: left;
  padding-top: 32px;
}
.sidebar-left-top {
  width: 295px;
  padding-bottom: 40px;
}
.disease-by-age h3 {
  padding-left: 1rem;
  background-color: #d9e4e9;
}
.age-title {
  font-size: .75rem;
  padding: 16px 24px;
} 
.logo-minus {
  font-size: 25px;
  padding: 16px 24px 16px 200px;
} 
.logo-plus {
  font-size: 20px;
  padding: 16px 24px 16px 180px;
} 
.diseases-list {
  padding:  1rem 0 1rem 30px;
  line-height: 1.5rem;
  font-size: .75rem;
  list-style-type: disc;
}
.diseases-link {
  color: #000;
}
/* Form */
.form {
  padding-top: 10px;
  background-color:#d9e4e9; 
  height: 360px;
  max-width: 295px;
  width: 100%;
  ;
}
.form-heading {
  padding: 20px 20px;
}
.form-heading::after {
  content: '';
  display: block;
  border: 1px solid #4cc1fc;
  width: 66px;
  position: relative;
  top: 22px;
}
.form-book {
  box-sizing: border-box;
  padding: 18px 20px;
  border: none;
}
.form-book-input {
  padding-bottom: 16px;
}
.form-book-input input{
  width: 100%;
  color: black;
  height: 38px;
}
input::placeholder {
  padding-left: 12px;
}
.form-book-submit {
  padding: 0 70px 10px 70px;
}
button {
  width: 125px;
  height: 40px;
  background-color: #4bbc56;
  color: white;
  font-family: 'UTM Avo';
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
}
/* Main content */
.health-services-list {
  float: right;
  max-width: calc(100% - 25%);
  padding-bottom: 18px;
}
.health-services-item {
  float: left;
  height: 320px;
  max-width: 280px;
  width: 100%;
  border: 1px solid #ebebeb;
  margin: 0 0 20px 20px;
}
.health-services-item img{
  width: 280px;
  height: auto;
}
.health-services-item-title {
  padding: 18px 22px;
}
.health-title-link {
  color: #0C0B0B;
} 
.health-services-item-description {
  padding: 0 22px 40px;
} 
.arrow-right-link {
  clear: right;
  float: right;
  width: 15px;
  height: 15px;
  background: url('../images/arrow-right.jpg') center no-repeat;
  position: relative;
  bottom: 15px;
}
/* Footer */
.footer-page {
  background-color: #62c6f8;
}
.footer-top {
  padding-top: 50px;
  padding-bottom: 12px;
}
.footer-info-item {
  box-sizing: border-box;
  float: left;
  width: calc(100% / 3);
  padding-top: 10px;
}
.footer-info-item-heading {
  padding-bottom: 26px;
  font-size: 20px;
}
.footer-info-sub-list {
  list-style-type: disc;
  padding-left: 16px;
}
.footer-info-sub-item {
  padding-bottom: 26px;
}
.footer-info-link {
 font-weight: bold;
 text-transform: uppercase;
 font-weight: normal;
 color: #fff;
}
.footer-facebook-link::before {
  content: url(../images/footer-facebook.png);
  padding-right: 8px;
  position: relative;
  top: 4px;
}
.footer-google-link::before {
  content: url(../images/footer-google+.png);
  padding-right: 8px;
  position: relative;
  top: 4px;
}
.footer-youtube-link::before {
  content: url(../images/footer-youtube.png);  
  padding-right: 8px;
  position: relative;
  top: 4px;
}
.footer-social-sub-list {
  padding-top: 28px;
  padding-left: -10px;
}
.footer-social-sub-item {
  padding-bottom: 4px;
}
.footer-bottom {
  border: 1px solid #fff;
  height: 60px;
}
.footer-bottom-left {
  float: left;
  font-family: 'Arial';
  text-transform: uppercase;
  padding: 25px 0;
}
.footer-bottom-right {
  font-family: 'Arial';
  float: right;
  text-transform: uppercase;
  padding: 25px 0;
}
.footer-bottom-link {
  color: #86ffbf;
}


